# Application Configuration
spring:
  application:
    name: architecture

  # H2 Database Configuration
  datasource:
    url: jdbc:h2:mem:events_catalog_db
    driver-class-name: org.h2.Driver
    username: sa
    password: 

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

  # H2 Console Configuration
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

# Server Configuration
server:
  port: 8080

# Logging Configuration
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
      springframework:
        web: DEBUG
